body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

input, select, button {
    margin: 5px;
    padding: 5px;
}

#tracks, #creatorTracks {
    margin-top: 20px;
}

.track {
    border: 1px solid #333;
    margin: 5px;
    padding: 10px;
}

button.mixBtn {
    margin-top: 5px;
}
